<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.BookingListMapper">
	<select id="findByOrderNum" parameterType="String" resultType="com.fa.plus.domain.BookingList">
		SELECT * FROM (SELECT od.orderNum, ROW_NUMBER() OVER(ORDER BY od.orderNum) as rnum
		FROM orderDetail od
		JOIN orders o ON o.orderNum = od.orderNum
		JOIN member m ON m.memberIdx = o.memberIdx
		JOIN member1 m1 ON m1.memberIdx = m.memberIdx
		WHERE userId = #{userId}) ORDER BY rnum DESC
	</select>
	
	<select id="findByClassNum" parameterType="long" resultType="com.fa.plus.domain.BookingList">
		SELECT od.orderNum
		       , l.classNum
		       , od.state
		FROM orderDetail od
		JOIN orders o ON o.orderNum = od.orderNum
		JOIN lessonDetail ld ON ld.detailNum = o.detailNum
		JOIN lesson l ON l.classNum = ld.classNum
		WHERE od.orderNum = #{orderNum}
	</select>
	
	<select id="classInfo" parameterType="long" resultType="com.fa.plus.domain.BookingList">
		SELECT classNum
		       , className
		       , l.addr1
		       , l.addr2
		       , l.regDate
		       , userId AS puserId
		       , userName AS puserName
		FROM lesson l
		JOIN member m ON m.memberIdx = l.memberIdx
		JOIN member1 m1 ON m1.memberIdx = m.memberIdx
		WHERE classNum = #{classNum}
		ORDER BY l.regDate ASC
	</select>

	<select id="bookingDetail" parameterType="map" resultType="com.fa.plus.domain.BookingList">
		SELECT od.orderNum
		       , TO_CHAR(classDate, 'YYYY-MM-DD HH24:MI') AS cDate
		       , od.count
		       , pay
		       , state
		       , l.className
		       , l.classNum
		       , m1.userId
		       , m1.userName
		       , m2.tel
		       , m2.email
		FROM orders o
		JOIN member m ON m.memberIdx = o.memberIdx
		JOIN member1 m1 ON m1.memberIdx = m.memberIdx
		JOIN member2 m2 ON m2.userId = m1.userId
		JOIN lessonDetail ld ON ld.detailNum = o.detailNum
		JOIN lesson l ON l.classNum = lD.classNum
		JOIN orderDetail od ON od.orderNum = o.orderNum
		WHERE m1.userId = #{userId} AND od.orderNum = #{orderNum}
	</select>
	
	
	<sql id="search-list">
		<choose>
			<when test="changeDate == 'all'">
				(TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					OR TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE, 'YYYYMMDD'))
			</when>
			
			<when test="changeDate == 'oneWeek'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE + INTERVAL '7' DAY, 'YYYYMMDD')
			</when>
			
			<when test="changeDate == 'oneMonth'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE + INTERVAL '1' MONTH, 'YYYYMMDD')				
			</when>
			<when test="changeDate == 'ThreeMonth'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE + INTERVAL '3' MONTH, 'YYYYMMDD')
			</when>
			<when test="changeDate == 'sixMonth'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE + INTERVAL '6' MONTH, 'YYYYMMDD')
			</when>
			<when test="changeDate == 'oneYear'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= TO_CHAR(SYSDATE, 'YYYYMMDD') 
					AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= TO_CHAR(SYSDATE + INTERVAL '1' YEAR, 'YYYYMMDD')
			</when>
			<when test="changeDate == 'etc'">
				TO_CHAR(ld.classDate, 'YYYYMMDD') &gt;= #{startDate} AND TO_CHAR(ld.classDate, 'YYYYMMDD') &lt;= #{endDate}
			</when>
		</choose>
	</sql>
	
	<select id="list" parameterType="map" resultType="com.fa.plus.domain.BookingList">
		SELECT le.classNum, le.className, le.addr1, le.addr2, le.memberIdx, ld.detailNum, 
			TO_CHAR(ld.classDate, 'YYYY-MM-DD HH24:MI:SS') classDate, os.orderNum, od.state, m1.userName
		FROM lesson le
		JOIN lessonDetail ld ON le.classNum = ld.classNum
		JOIN orders os ON ld.detailNum = os.detailNum
		JOIN orderDetail od ON os.orderNum = od.orderNum
		JOIN member m ON le.memberIdx = m.memberIdx
		JOIN member1 m1 ON m.memberIdx = m1.memberIdx
		<where>
			os.memberIdx = #{memberIdx}
			<if test="changeDate != null">
				AND <include refid="search-list"/>
			</if>
		</where>
		ORDER BY orderNum DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM lesson le
		JOIN lessonDetail ld ON le.classNum = ld.classNum
		JOIN orders os ON ld.detailNum = os.detailNum
		JOIN orderDetail od ON os.orderNum = od.orderNum
		JOIN member m ON le.memberIdx = m.memberIdx
		JOIN member1 m1 ON m.memberIdx = m1.memberIdx
		<where>
			os.memberIdx = #{memberIdx}
			<if test="changeDate != null">
				AND <include refid="search-list"/>
			</if>
		</where>
	</select>
	
	<select id="bookCount" parameterType="Long" resultType="Integer">
		select COUNT(*)
		FROM orders
		WHERE memberIdx = #{memberIdx}
	</select>
</mapper>