<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.InquiryAdManageMapper">
	
	<sql id="where-list">
		<if test="schType=='all' ">
			( INSTR(subject, #{kwd}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 )
		</if>
		<if test="schType=='subject' ">
			INSTR(subject, #{kwd}) &gt; 0
		</if>
		<if test="schType=='content' ">
			DBMS_LOB.INSTR( content, #{kwd}) &gt; 0 
		</if>
		<if test="schType=='userName'">
			userName=#{kwd}
		</if>
	</sql>
	
	 <select id="listInquiryAd" parameterType="map" resultType="com.fa.plus.admin.domain.InquiryAdManage">
		SELECT inquiryNum, i.inquiryId, subject, m.userName,
			   TO_CHAR(inquiryDate, 'YYYY-MM-DD') inquiryDate, reInquiryDate
		FROM inquiryAd i
		JOIN member1 m ON i.inquiryId=m.userId
		<where>
			<if test="kwd!=null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>   
		ORDER BY inquiryNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM inquiryAd i
		JOIN member1 m ON i.inquiryId=m.userId
		<where>
			<if test="kwd!=null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.fa.plus.admin.domain.InquiryAdManage">
		SELECT inquiryNum, i.inquiryId, m1.userName, subject, content, inquiryDate, 
		i.reInquiryId, reContent, reInquiryDate
		FROM inquiryAd i
		JOIN member1 m1 ON i.inquiryId=m1.userId
		LEFT OUTER JOIN member1 m2 ON i.reInquiryId=m2.userId
		WHERE inquiryNum = #{inquiryNum}
		
	</select>
	
	<update id="sendReContentAd" parameterType="com.fa.plus.admin.domain.InquiryAdManage">
		UPDATE inquiryAd SET reInquiryId = #{reInquiryId}, reContent = #{reContent}, reInquiryDate = SYSDATE
		WHERE inquiryNum = #{inquiryNum}
	</update>
		
	<delete id="deleteReContentAd" parameterType="Long">
		UPDATE inquiryAd SET reInquiryId = NULL, reContent = NULL, reInquiryDate = NULL
		WHERE inquiryNum = #{inquiryNum}
	</delete>
		
	<delete id="deleteInquiryAd" parameterType="Long">
		DELETE FROM inquiryAd WHERE inquiryNum = #{inquiryNum}
	</delete>
</mapper>