<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.OnedayplusMapper">
	
	<insert id="insertAnswer" parameterType="com.fa.plus.domain.PlusAns">
		INSERT INTO plusAns(ansNum, plusNum, userId)
			VALUES(plusAns_seq.NEXTVAL, #{plusNum}, #{userId})
	</insert>
	
	<select id="QSubject" resultType="com.fa.plus.domain.PlusQ">
		SELECT num, subject
		FROM plusQue
	</select>
	
	<select id="listQuestion" resultType="com.fa.plus.domain.PlusQ">
		SELECT qu.num, subject, q.plusNum, content, imgNum, imgName
		FROM plusQue qu
		JOIN plusq q ON qu.num = q.num 
		LEFT OUTER JOIN plusImage pi ON pi.plusNum = q.plusNum
		ORDER BY q.plusNum ASC
	</select>
	
	<select id="listAnswer" parameterType="String" resultType="com.fa.plus.domain.PlusAns">
		SELECT qu.num, subject, content, q.plusNum, ansNum
		FROM plusAns a
		JOIN plusQ q ON a.plusNum = q.plusNum
		JOIN plusQue qu ON q.num = qu.num
		WHERE userId = #{userId}
	</select>
	
	<delete id="deleteAnswer" parameterType="String">
		DELETE FROM plusAns WHERE userId = #{userId}
	</delete>
	
	<sql id="price-list">
		<choose>
			<when test="classprice == 26">
				AND (price &gt;= 10000 AND price &lt;= 50000)
			</when>
			<when test="classprice == 27">
				AND (price &gt;= 50000 AND price &lt;= 100000)
			</when>
			<otherwise>
				AND price &gt;= 100000
			</otherwise>
		</choose>
	</sql>
 
	<select id="resultClass" parameterType="map" resultType="com.fa.plus.domain.Lesson">
		SELECT classNum, className, price, mainName, tagName, firstPhoto, addr1, addr2
		FROM lesson l
		JOIN subcategory sc ON sc.subNum = l.subNum
		JOIN maincategory mc ON sc.mainNum = mc.mainNum
		JOIN hashtag h ON h.tagNum = l.tagNum
		WHERE  
			INSTR(addr1, #{location}) > 0
			<if test="classprice != null and classprice != 25">
		     	<include refid="price-list"/>
		    </if>
			<if test="purpose != null and purpose != ''">
				AND ( tagName = #{purpose}
			</if>
			<if test="category != null and category != ''">
		     	OR mainName = #{category} )
		    </if>
		ORDER BY price
	</select>
	
	<!-- 1번에 관한 답변 -->
	<select id="resultPurpose" parameterType = "String" resultType="String">
		SELECT content
		FROM plusans a
		JOIN plusq q ON q.plusNum = a.plusNum
		JOIN plusque qu ON qu.num = q.num
		WHERE qu.num = 1 AND userId = #{userId} AND ROWNUM = 1
		ORDER BY qu.num
	</select>
	
	<select id="resultCategory" parameterType = "String" resultType="String">
		SELECT content
		FROM plusans a
		JOIN plusq q ON q.plusNum = a.plusNum
		JOIN plusque qu ON qu.num = q.num
		WHERE qu.num = 2 AND userId = #{userId} AND ROWNUM = 1
		ORDER BY qu.num
	</select>
	
	<select id="resultLocation" parameterType = "String" resultType="String">
		SELECT content
		FROM plusans a
		JOIN plusq q ON q.plusNum = a.plusNum
		JOIN plusque qu ON qu.num = q.num
		WHERE qu.num = 3 AND userId = #{userId} AND ROWNUM = 1
		ORDER BY qu.num
	</select>
	
	<select id="resultPrice" parameterType = "String" resultType="Long">
		SELECT q.plusNum
		FROM plusans a
		JOIN plusq q ON q.plusNum = a.plusNum
		JOIN plusque qu ON qu.num = q.num
		WHERE qu.num = 4 AND userId = #{userId} AND ROWNUM = 1
		ORDER BY qu.num
	</select>

</mapper>