<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.OrderDetailMapper">
	
	<select id="findByNum" resultType="long">
		SELECT orderNum
		FROM orders
		WHERE ROWNUM = 1
		ORDER BY orderNum DESC
	</select>
	
	<select id="orderList" parameterType="long" resultType="com.fa.plus.domain.OrderDetail">
		SELECT od.orderNum
		       , TO_CHAR(classDate, 'YYYY-MM-DD HH24:MI') AS cDate
		       , od.count
		       , pay
		       , state
		       , l.className
		       , m1.userId
		       , m1.userName
		       , m2.tel
		       , m2.email
		FROM orders o
		JOIN member m ON m.memberIdx = o.memberIdx
		JOIN member1 m1 ON m1.memberIdx = m.memberIdx
		JOIN member2 m2 ON m2.userId = m1.userId
		JOIN lessonDetail ld ON ld.detailNum = o.detailNum
		JOIN lesson l ON l.classNum = lD.classNum
		JOIN orderDetail od ON od.orderNum = o.orderNum
		WHERE od.orderNum = #{orderNum}
	</select>
	
</mapper>