<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.pluszone.mapper.PluszoneQuestionMapper">

	<insert id="insertAnswer" parameterType="com.fa.plus.pluszone.domain.PluszoneAnswer">
		INSERT INTO pluszoneAns (anszoneNum, pluszoneNum, userId)
			VALUES(pluszoneans_seq.NEXTVAL, #{pluszoneNum}, #{userId})
	</insert>
	
	<select id="QSubject" resultType="com.fa.plus.pluszone.domain.PluszoneQuestion">
		SELECT qu.num, subject
		FROM pluszoneQue qu
	</select>
	
	<select id="listQuestion" resultType="com.fa.plus.pluszone.domain.PluszoneQuestion">
		SELECT qu.num, subject, content, q.pluszoneNum
		FROM pluszoneQue qu
		JOIN pluszoneQ q ON qu.num = q.num
	</select>

	<select id="listAnswer" parameterType="String" resultType="com.fa.plus.pluszone.domain.PluszoneAnswer">
		SELECT a.userId, a.anszoneNum, a.pluszoneNum, subject, content, qu.num
		FROM pluszoneAns a
        JOIN pluszoneQ q ON a.pluszoneNum = q.pluszoneNum
		JOIN pluszoneQue qu ON qu.num = q.num  
		JOIN member1 m1 ON a.userId = m1.userId
		WHERE a.userId = #{userId}
	</select>

</mapper>