<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.PluszoneQManageMapper">
<!-- 관리자에서 플러스존 질문 관리 -->

	<select id="QSubject" resultType="com.fa.plus.admin.domain.PluszoneQuestionManage">
		SELECT qu.num, subject
		FROM pluszoneQue qu
	</select>
	
	<select id="listQuestion" resultType="com.fa.plus.admin.domain.PluszoneQuestionManage">
		SELECT qu.num, subject, content, q.pluszoneNum
		FROM pluszoneQue qu
		JOIN pluszoneQ q ON qu.num = q.num
	</select>
</mapper>